@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --font-sans: 'Builder Sans';
  --font-sans-fallback: 'Arial Builder Fallback';
  --font-mono: 'Builder Mono';
  --font-mono-fallback: 'Courier Builder Fallback';

  --color-accent-50: #335EFD;
  --color-accent-100: #2F57EA;
  --color-accent-200: #2B50D8;
  --color-accent-300: #274AC5;
  --color-accent-400: #2443B3;
  --color-accent-500: #335FFF;
  --color-accent-600: #335FFF;
  --color-accent-700: #1C358D;
  --color-accent-800: #192E7B;
  --color-accent-900: #152768;
  --color-accent-950: #112056;

  --color-gray-50: #F7F7F8;
  --color-gray-100: #EEEFF1;
  --color-gray-200: #E6E7EA;
  --color-gray-300: #D5D7DD;
  --color-gray-400: #BCBEC8;
  --color-gray-500: #6A6F81;
  --color-gray-600: #494D5A;
  --color-gray-700: #353741;
  --color-gray-800: #272930;
  --color-gray-900: #202227;
  --color-gray-950: #191A1F;
}
:root {
  --sl-font: var(--font-sans), var(--font-sans-fallback), serif;
  --sl-font-mono: var(--font-mono), var(--font-mono-fallback), monospace;
}
