<form>
    <div>
        <label class="header-center"><b>Input</b></label>
        <br>
        <textarea rows="10" cols="80" id="script"></textarea>
        <div class="button-group">
            <button onclick="executeScript(); return false;">Run</button>
            <button onclick="shareScript(); return false;">Share</button>
            <input type="checkbox" checked="true" id="output-clear" />
            <label for="output-clear">Clear Output</label>
        </div>
    </div>
    <div>
        <label class="header-center"><b>Output</b></label>
        <br>
        <textarea readonly rows="10" cols="70" id="output"></textarea>
    </div>
</form>

<!-- Styles for editor -->
<style>
    .header-center {
        text-align: center;
    }

    .button-group>* {
        display: inline-block;
        margin-right: 10px;
        margin-left: 5px;
    }

    .line-error {
        background: #e65f55;
    }
</style>

<!-- CodeMirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/addon/edit/matchbrackets.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.14/codemirror.min.css" />


<style>
    .cm-s-dark.CodeMirror {background: rgb(37, 37, 37); color: rgb(204, 204, 204);}
    .cm-s-dark div.CodeMirror-selected {background: rgb(11, 90, 175) !important;}
    .cm-s-dark .CodeMirror-gutters {background: rgb(50, 50, 50); border-right: 0px;}
    .cm-s-dark .CodeMirror-linenumber {color: rgb(204, 204, 204);}
    .cm-s-dark .CodeMirror-cursor {border-left: 1px solid rgb(204, 204, 204) !important;}

    .cm-s-dark span.cm-comment {color: rgb(102, 102, 102);}
    .cm-s-dark span.cm-atom {color: rgb(255, 198, 0);}
    .cm-s-dark span.cm-number {color: rgb(255, 198, 0);}

    .cm-s-dark span.cm-keyword {color: rgb(248, 109, 124);}
    .cm-s-dark span.cm-string {color: rgb(173, 241, 149);}

    .cm-s-dark span.cm-variable {color: rgb(204, 204, 204);}
    .cm-s-dark span.cm-builtin {color:rgb(132, 214, 247);}
    .cm-s-dark span.cm-bracket {color: rgb(204, 204, 204);}
    .cm-s-dark span.cm-tag {color: rgb(255, 0, 0);}

    .cm-s-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
    .cm-s-dark .CodeMirror-activeline-background { background: #202020; }
</style>

<style>
    .cm-s-light.CodeMirror {background: white; color: black;}
    .cm-s-light div.CodeMirror-selected {background: rgb(110, 161, 241) !important;}
    .cm-s-light .CodeMirror-gutters {background: rgb(221, 221, 221); border-right: 0px;}
    .cm-s-light .CodeMirror-linenumber {color: black;}
    .cm-s-light .CodeMirror-cursor {border-left: 1px solid black !important;}

    .cm-s-light span.cm-comment {color: rgb(0, 127, 9);}
    .cm-s-light span.cm-atom {color: rgb(0, 127, 127);}
    .cm-s-light span.cm-number {color: rgb(0, 127, 127);}

    .cm-s-light span.cm-keyword {color: rgb(0, 0, 127);}
    .cm-s-light span.cm-string {color: rgb(127, 0, 127);}

    .cm-s-light span.cm-variable {color: black;}
    .cm-s-light span.cm-builtin {color:rgb(127, 0, 0);}
    .cm-s-light span.cm-bracket {color: rgb(127, 127, 0);}
    .cm-s-light span.cm-tag {color: rgb(255, 0, 0);}

    .cm-s-light .CodeMirror-matchingbracket { text-decoration: underline; color: black !important;}
    .cm-s-light .CodeMirror-activeline-background { background: #202020; }
</style>

<!-- Luau Parser for CodeMirror -->
<script src="assets/js/luau_mode.js"></script>
<!-- CodeMirror Luau Editor (MUST BE LOADED AFTER CODEMIRROR!) -->
<script>
    // Supposedly the current URL size limit for chrome is 2MB, so we'll cap it at that.
    // Practically at larger sizes the omnibar won't display it, but it should work just fine
    var MAX_URL_FRAGMENT_LENGTH = 0x1FFFFF;
    function getValueFromQueryString(key) {
        return new URLSearchParams(window.location.search).get(key);
    }
    async function compressString(str) {
        if (!TextEncoder || !CompressionStream || !Response || !Blob) return btoa(str);
        console.info('Using gzip compression');
        console.info('Original string length:', str.length);
        var encoder = new TextEncoder();
        var uint8Array = encoder.encode(str);

        var compressedStream = new Response(
            new Blob([uint8Array]).stream().pipeThrough(new CompressionStream('gzip'))
        ).arrayBuffer();

        var compressedArrayBuffer = await compressedStream;
        var compressedUint8Array = new Uint8Array(compressedArrayBuffer);

        var compressedString = btoa(Array.from(compressedUint8Array, byte => String.fromCharCode(byte)).join(''));
        console.info('compressed string length:', compressedString.length);
        return compressedString
    }

    async function decompressString(str) {
        if (!TextDecoder || !DecompressionStream || !Response || !Blob) return atob(str);
        console.info('Using gzip decompression');
        var decoder = new TextDecoder();
        var compressedUint8Array = new Uint8Array(
            atob(str).split('').map(c => c.charCodeAt(0))
        );

        var decompressedStream = new Response(
            new Blob([compressedUint8Array]).stream().pipeThrough(new DecompressionStream('gzip'))
        ).arrayBuffer();

        var decompressedArrayBuffer = await decompressedStream;
        return decoder.decode(decompressedArrayBuffer);
    }

    async function decodeShareString(str) {
        if (!str) return null;
        try {
            return await decompressString(decodeURIComponent(str));
        } catch (e) {
            console.error('Error parsing share string:', e);
            return null
        }
    }

    async function encodeShareString(str) {
        try {
            return encodeURIComponent(await compressString(str));
        } catch (e) {
            console.error('Error parsing share string:', e);
        }
    }

    function maybeClearOutput() {
        var output_clear = document.getElementById("output-clear");
        if (output_clear.checked) {
            var output_box = document.getElementById("output");
            output_box.value = '';
        }
    }

    var textValue = "print(\"Hello World!\")\n";
    var editor = CodeMirror.fromTextArea(document.getElementById("script"), {
        theme: localStorage.getItem('theme'),
        mode: "luau",
        matchBrackets: true,
        lineNumbers: true,
        smartIndent: true,
        indentWithTabs: true,
        indentUnit: 4
    });
    editor.setValue(textValue);
    editor.addKeyMap({
        "Ctrl-Enter": function (cm) {
            executeScript();
        },
        "Shift-Tab": function (cm) {
            // dedent functionality
            cm.execCommand("indentLess");
        }
    });

    var lastError = undefined;

    function output(text) {
        var output_box = document.getElementById("output");
        output_box.value += text + "\n";
        // scroll to bottom
        output_box.scrollTop = output_box.scrollHeight;
    }

    var Module = {
        'print': function (msg) { output(msg) }
    };

    function executeScript() {
        if (lastError) {
            editor.removeLineClass(lastError, "background", "line-error");
            lastError = undefined;
        }

        maybeClearOutput()

        var err = Module.ccall('executeScript', 'string', ['string'], [editor.getValue()]);
        if (err) {
            var err_text = err.replace('stdin:', '');
            output('Error:' + err_text);

            var err_line = parseInt(err_text);
            if (err_line) {
                lastError = editor.addLineClass(err_line - 1, "background", "line-error");
            }
        }
    }

    async function shareScript() {
        var sourceCode = editor.getValue();
        var shareStr
        try {
            shareStr = await encodeShareString(editor.getValue());
        } catch (e) {
            console.error('Error encoding share string', e)
        }
        if (!shareStr) {
            alert("There was an error encoding the share string. Your browser may not support the share feature.");
            return;
        }

        if (shareStr.length > MAX_URL_FRAGMENT_LENGTH) {
            alert("Source code is too long to be shared.");
            return;
        }

        window.history.pushState({}, document.title, "#" + shareStr);

        if (navigator.clipboard) {
            try {
                await navigator.clipboard.writeText(window.location);
                maybeClearOutput()
                output("Copied share link to clipboard.");
            } catch (e) {
                console.error(e)
                prompt("Share Link: ", window.location);
            }
        } else {
            prompt("Share Link: ", window.location);
        }
    }

    async function loadSharedString() {
        var sharedCode = await decodeShareString(
            window.location.hash.substring(1) || // substring to remove the leading '#'
            getValueFromQueryString("share") // for backwards compatibility
        );
        if (!sharedCode) return;
        editor.setValue(sharedCode);
    }
    loadSharedString();
</script>
<!-- Luau WASM (async fetch; should be the last line) -->
<script async src="https://github.com/luau-lang/luau/releases/latest/download/Luau.Web.js"></script>
