@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --font-sans: 'Builder Sans';
  --font-sans-fallback: 'Arial Builder Fallback';
  --font-mono: 'Builder Mono';
  --font-mono-fallback: 'Courier Builder Fallback';

  --color-accent-50: #335EFD;
  --color-accent-100: #2F57EA;
  --color-accent-200: #2B50D8;
  --color-accent-300: #274AC5;
  --color-accent-400: #2443B3;
  --color-accent-500: #335FFF;
  --color-accent-600: #335FFF;
  --color-accent-700: #1C358D;
  --color-accent-800: #192E7B;
  --color-accent-900: #152768;
  --color-accent-950: #112056;

  --color-gray-50: #F7F7F8;
  --color-gray-100: #EEEFF1;
  --color-gray-200: #E6E7EA;
  --color-gray-300: #D5D7DD;
  --color-gray-400: #BCBEC8;
  --color-gray-500: #6A6F81;
  --color-gray-600: #494D5A;
  --color-gray-700: #353741;
  --color-gray-800: #272930;
  --color-gray-900: #202227;
  --color-gray-950: #191A1F;

  --color-extended-black-0: rgba(0, 0, 0, 0);
  --color-extended-black-03: rgba(0, 0, 0, 0.03);
  --color-extended-black-05: rgba(0, 0, 0, 0.05);
  --color-extended-black-10: rgba(0, 0, 0, 0.1);
  --color-extended-black-15: rgba(0, 0, 0, 0.15);
  --color-extended-black-20: rgba(0, 0, 0, 0.2);
  --color-extended-black-30: rgba(0, 0, 0, 0.3);
  --color-extended-black-40: rgba(0, 0, 0, 0.4);
  --color-extended-black-50: rgba(0, 0, 0, 0.5);
  --color-extended-black-60: rgba(0, 0, 0, 0.6);
  --color-extended-black-70: rgba(0, 0, 0, 0.7);
  --color-extended-black-80: rgba(0, 0, 0, 0.8);
  --color-extended-black-85: rgba(0, 0, 0, 0.85);
  --color-extended-black-90: rgba(0, 0, 0, 0.9);
  --color-extended-black-95: rgba(0, 0, 0, 0.95);
  --color-extended-black-97: rgba(0, 0, 0, 0.97);
  --color-extended-black-100: rgb(0, 0, 0);
  --color-extended-blue-100: rgb(235, 241, 255);
  --color-extended-blue-200: rgb(204, 221, 255);
  --color-extended-blue-300: rgb(173, 201, 255);
  --color-extended-blue-400: rgb(143, 180, 255);
  --color-extended-blue-500: rgb(112, 160, 255);
  --color-extended-blue-600: rgb(82, 139, 255);
  --color-extended-blue-700: rgb(51, 95, 255);
  --color-extended-blue-800: rgb(20, 70, 255);
  --color-extended-blue-900: rgb(0, 53, 245);
  --color-extended-blue-1000: rgb(0, 45, 214);
  --color-extended-blue-1100: rgb(0, 39, 184);
  --color-extended-blue-1200: rgb(0, 34, 153);
  --color-extended-blue-1300: rgb(0, 27, 122);
  --color-extended-blue-1400: rgb(0, 20, 92);
  --color-extended-gray-100: rgb(247, 247, 248);
  --color-extended-gray-200: rgb(238, 239, 241);
  --color-extended-gray-300: rgb(230, 231, 234);
  --color-extended-gray-400: rgb(213, 215, 221);
  --color-extended-gray-500: rgb(188, 190, 200);
  --color-extended-gray-600: rgb(106, 111, 129);
  --color-extended-gray-700: rgb(73, 77, 90);
  --color-extended-gray-800: rgb(53, 55, 65);
  --color-extended-gray-900: rgb(39, 41, 48);
  --color-extended-gray-1000: rgb(32, 34, 39);
  --color-extended-gray-1100: rgb(25, 26, 31);
  --color-extended-gray-1200: rgb(18, 18, 21);
  --color-extended-green-100: rgb(208, 251, 227);
  --color-extended-green-200: rgb(176, 246, 208);
  --color-extended-green-300: rgb(142, 233, 182);
  --color-extended-green-400: rgb(101, 215, 157);
  --color-extended-green-500: rgb(57, 197, 130);
  --color-extended-green-600: rgb(29, 177, 106);
  --color-extended-green-700: rgb(12, 155, 90);
  --color-extended-green-800: rgb(1, 133, 75);
  --color-extended-green-900: rgb(2, 114, 64);
  --color-extended-green-1000: rgb(1, 95, 53);
  --color-extended-green-1100: rgb(0, 74, 41);
  --color-extended-green-1200: rgb(1, 56, 31);
  --color-extended-green-1300: rgb(10, 38, 18);
  --color-extended-green-1400: rgb(0, 22, 12);
  --color-extended-magenta-100: rgb(253, 232, 249);
  --color-extended-magenta-200: rgb(253, 221, 253);
  --color-extended-magenta-300: rgb(245, 200, 252);
  --color-extended-magenta-400: rgb(239, 170, 250);
  --color-extended-magenta-500: rgb(232, 139, 248);
  --color-extended-magenta-600: rgb(223, 106, 247);
  --color-extended-magenta-700: rgb(213, 64, 245);
  --color-extended-magenta-800: rgb(192, 10, 232);
  --color-extended-magenta-900: rgb(165, 14, 200);
  --color-extended-magenta-1000: rgb(138, 12, 167);
  --color-extended-magenta-1100: rgb(110, 7, 133);
  --color-extended-magenta-1200: rgb(84, 4, 103);
  --color-extended-magenta-1300: rgb(60, 2, 74);
  --color-extended-magenta-1400: rgb(35, 4, 42);
  --color-extended-orange-100: rgb(253, 232, 216);
  --color-extended-orange-200: rgb(252, 222, 199);
  --color-extended-orange-300: rgb(251, 206, 174);
  --color-extended-orange-400: rgb(251, 178, 134);
  --color-extended-orange-500: rgb(250, 148, 90);
  --color-extended-orange-600: rgb(245, 118, 48);
  --color-extended-orange-700: rgb(220, 100, 35);
  --color-extended-orange-800: rgb(192, 80, 20);
  --color-extended-orange-900: rgb(169, 67, 11);
  --color-extended-orange-1000: rgb(144, 51, 0);
  --color-extended-orange-1100: rgb(115, 40, 0);
  --color-extended-orange-1200: rgb(87, 30, 0);
  --color-extended-orange-1300: rgb(60, 21, 0);
  --color-extended-orange-1400: rgb(33, 13, 1);
  --color-extended-pink-100: rgb(255, 230, 242);
  --color-extended-pink-200: rgb(254, 220, 236);
  --color-extended-pink-300: rgb(250, 202, 224);
  --color-extended-pink-400: rgb(247, 173, 207);
  --color-extended-pink-500: rgb(243, 143, 184);
  --color-extended-pink-600: rgb(238, 114, 161);
  --color-extended-pink-700: rgb(231, 78, 144);
  --color-extended-pink-800: rgb(205, 55, 123);
  --color-extended-pink-900: rgb(180, 43, 106);
  --color-extended-pink-1000: rgb(153, 29, 88);
  --color-extended-pink-1100: rgb(99, 3, 53);
  --color-extended-pink-1200: rgb(99, 3, 53);
  --color-extended-pink-1300: rgb(70, 4, 36);
  --color-extended-pink-1400: rgb(43, 2, 21);
  --color-extended-purple-100: rgb(241, 231, 255);
  --color-extended-purple-200: rgb(233, 222, 251);
  --color-extended-purple-300: rgb(226, 206, 253);
  --color-extended-purple-400: rgb(212, 181, 252);
  --color-extended-purple-500: rgb(197, 156, 249);
  --color-extended-purple-600: rgb(182, 130, 247);
  --color-extended-purple-700: rgb(167, 102, 245);
  --color-extended-purple-800: rgb(147, 72, 240);
  --color-extended-purple-900: rgb(130, 46, 231);
  --color-extended-purple-1000: rgb(108, 33, 198);
  --color-extended-purple-1100: rgb(86, 20, 165);
  --color-extended-purple-1200: rgb(65, 8, 134);
  --color-extended-purple-1300: rgb(45, 4, 96);
  --color-extended-purple-1400: rgb(28, 2, 59);
  --color-extended-red-100: rgb(255, 234, 233);
  --color-extended-red-200: rgb(255, 223, 222);
  --color-extended-red-300: rgb(247, 205, 203);
  --color-extended-red-400: rgb(243, 178, 174);
  --color-extended-red-500: rgb(238, 151, 145);
  --color-extended-red-600: rgb(235, 121, 115);
  --color-extended-red-700: rgb(231, 87, 80);
  --color-extended-red-800: rgb(223, 40, 31);
  --color-extended-red-900: rgb(197, 18, 10);
  --color-extended-red-1000: rgb(164, 17, 9);
  --color-extended-red-1100: rgb(131, 15, 7);
  --color-extended-red-1200: rgb(100, 12, 5);
  --color-extended-red-1300: rgb(71, 8, 4);
  --color-extended-red-1400: rgb(40, 6, 3);
  --color-extended-turquoise-100: rgb(200, 246, 255);
  --color-extended-turquoise-200: rgb(163, 239, 254);
  --color-extended-turquoise-300: rgb(126, 229, 248);
  --color-extended-turquoise-400: rgb(92, 210, 232);
  --color-extended-turquoise-500: rgb(57, 189, 216);
  --color-extended-turquoise-600: rgb(22, 169, 199);
  --color-extended-turquoise-700: rgb(4, 148, 178);
  --color-extended-turquoise-800: rgb(18, 125, 152);
  --color-extended-turquoise-900: rgb(5, 108, 130);
  --color-extended-turquoise-1000: rgb(5, 90, 106);
  --color-extended-turquoise-1100: rgb(4, 71, 84);
  --color-extended-turquoise-1200: rgb(2, 53, 63);
  --color-extended-turquoise-1300: rgb(2, 37, 44);
  --color-extended-turquoise-1400: rgb(2, 20, 24);
  --color-extended-white-0: rgba(255, 255, 255, 0);
  --color-extended-white-03: rgba(255, 255, 255, 0.03);
  --color-extended-white-05: rgba(255, 255, 255, 0.05);
  --color-extended-white-10: rgba(255, 255, 255, 0.1);
  --color-extended-white-15: rgba(255, 255, 255, 0.15);
  --color-extended-white-20: rgba(255, 255, 255, 0.2);
  --color-extended-white-30: rgba(255, 255, 255, 0.3);
  --color-extended-white-40: rgba(255, 255, 255, 0.4);
  --color-extended-white-50: rgba(255, 255, 255, 0.5);
  --color-extended-white-60: rgba(255, 255, 255, 0.6);
  --color-extended-white-70: rgba(255, 255, 255, 0.7);
  --color-extended-white-80: rgba(255, 255, 255, 0.8);
  --color-extended-white-85: rgba(255, 255, 255, 0.85);
  --color-extended-white-90: rgba(255, 255, 255, 0.9);
  --color-extended-white-95: rgba(255, 255, 255, 0.95);
  --color-extended-white-97: rgba(255, 255, 255, 0.97);
  --color-extended-white-100: rgb(255, 255, 255);
  --color-extended-yellow-100: rgb(253, 236, 193);
  --color-extended-yellow-200: rgb(250, 228, 170);
  --color-extended-yellow-300: rgb(247, 210, 115);
  --color-extended-yellow-400: rgb(242, 186, 42);
  --color-extended-yellow-500: rgb(219, 166, 31);
  --color-extended-yellow-600: rgb(196, 147, 21);
  --color-extended-yellow-700: rgb(174, 128, 11);
  --color-extended-yellow-800: rgb(151, 108, 0);
  --color-extended-yellow-900: rgb(129, 93, 0);
  --color-extended-yellow-1000: rgb(107, 76, 0);
  --color-extended-yellow-1100: rgb(83, 61, 2);
  --color-extended-yellow-1200: rgb(63, 45, 1);
  --color-extended-yellow-1300: rgb(44, 31, 0);
  --color-extended-yellow-1400: rgb(24, 17, 0);
}

:root {
  --sl-font: var(--font-sans), var(--font-sans-fallback), serif;
  --sl-font-mono: var(--font-mono), var(--font-mono-fallback), monospace;
}

.sl-markdown-content img {
    margin: 2em auto;
}

.sl-link-button.primary {
    color: var(--color-white);
}
