@font-face {
  font-family: 'Builder Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('./BuilderSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: url('./BuilderSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url('./BuilderSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: italic;
  font-weight: 300;
  font-display: fallback;
  src: url('./BuilderSans-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url('./BuilderSans-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: italic;
  font-weight: 200;
  font-display: fallback;
  src: url('./BuilderSans-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: normal;
  font-weight: 100;
  font-display: fallback;
  src: url('./BuilderSans-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: italic;
  font-weight: 100;
  font-display: fallback;
  src: url('./BuilderSans-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: url('./BuilderSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: italic;
  font-weight: 500;
  font-display: fallback;
  src: url('./BuilderSans-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: url('./BuilderSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: italic;
  font-weight: 600;
  font-display: fallback;
  src: url('./BuilderSans-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('./BuilderSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: url('./BuilderSans-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: normal;
  font-weight: 800;
  font-display: fallback;
  src: url('./BuilderSans-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Sans';
  font-style: italic;
  font-weight: 800;
  font-display: fallback;
  src: url('./BuilderSans-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Mono';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('./BuilderMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Mono';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url('./BuilderMono-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Builder Mono';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('./BuilderMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Arial Builder Fallback';
    src: local(Arial);
    size-adjust: 100%;
    ascent-override: 96%;
    descent-override: 25%;
    line-gap-override: 5%;
}

@font-face {
    font-family: 'Courier Builder Fallback';
    src: local(Courier New);
    size-adjust: 100%;
    ascent-override: 96%;
    descent-override: 25%;
    line-gap-override: 5%;
}
